<section class="bg-gray-50">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-16 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    OUR APPROACH
                </h2>
                <p class="mb-4 font-light lg:text-xl">
                    We strive to provide our customers with products and services that meet and exceed their expectations. 
                    We continually focus on after-sales services and support with our engineering and technicians team.
                </p>
            </div>
            <div class="border border-gray-400 rounded h-96 mx-auto hidden lg:flex ">
                <img class="w-full rounded" src="/images/asdsasd.png" alt="Sample /graph me">
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-16 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="border border-gray-400 rounded w-100 mx-auto hidden lg:flex ">
                <img class="w-full rounded" src="/images/Gas.png" alt="Sample /graph me">
            </div>
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    OUR PRODUCT
                </h2>
                <p class="mb-4 font-light lg:text-xl">
                    At Makine Forcetech, we specialize in manufacturing high-quality industrial laundry parts designed to deliver reliable and efficient performance.
                    Our products are crafted with precision and are made to last, ensuring that your laundry equipment runs smoothly and efficiently for years to come.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray-50">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-16 lg:py-24 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    OUR SERVICES
                </h2>
                <p class="mb-8 font-light lg:text-xl">
                    Makine Forcetech is committed to providing exceptional service to our customers. We understand that keeping your laundry equipment running smoothly is essential to the success of your business, and we're here to help. 
                    Our team of experts is always available to answer your questions and provide you with the support you need. 
                </p>
            </div>
            <div class="border border-gray-400 rounded w-100 mx-auto hidden lg:flex ">
                <img class="hiddenrounded" src="/images/asd.png" alt="Sample /graph me">
            </div>
        </div>
        </div>
</section>