<section class="bg-gray-50">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-16 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    แนวทางของเรา 
                </h2>
                <p class="mb-4 font-light lg:text-xl">
                    เรามุ่งมั่นที่จะจัดหาผลิตภัณฑ์และบริการที่ตอบสนองและเกินความคาดหมายของลูกค้า เราให้ความสำคัญกับการบริการหลังการขายและการสนับสนุนด้วยทีมวิศวกรและช่างเทคนิคของเราอย่างต่อเนื่อง
                </p>
            </div>
            <div class="border border-gray-400 rounded h-96 mx-auto hidden lg:flex ">
                <img class="w-full rounded" src="/images/asdsasd.png" alt="Sample /graph me">
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-20 lg:py-16 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="border border-gray-400 rounded w-100 mx-auto hidden lg:flex ">
                <img class="w-full rounded" src="/images/Gas.png" alt="Sample /graph me">
            </div>
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    ผลิตภัณฑ์ของเรา
                </h2>
                <p class="mb-4 font-light lg:text-xl">
                    ที่ Makine Forcetech เราเชี่ยวชาญในการผลิตชิ้นส่วนซักรีดอุตสาหกรรมคุณภาพสูงที่ออกแบบมาเพื่อมอบประสิทธิภาพที่เชื่อถือได้และมีประสิทธิภาพ ผลิตภัณฑ์ของเราผลิตขึ้นอย่างแม่นยำและผลิตขึ้นเพื่อให้มีอายุการใช้งาน เพื่อให้อุปกรณ์ซักผ้าของคุณทำงานได้อย่างราบรื่นและมีประสิทธิภาพเป็นเวลาหลายปี
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray-50">
    <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-12 lg:space-y-16 lg:py-24 lg:px-6">
        <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
            <div class="text-gray-500 sm:text-lg">
                <h2 class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900">
                    บริการของเรา
                </h2>
                <p class="mb-8 font-light lg:text-xl">
                    Makine Forcetech มุ่งมั่นที่จะให้บริการที่เป็นเลิศแก่ลูกค้าของเรา เราเข้าใจดีว่าการทำให้อุปกรณ์ซักรีดของคุณทำงานได้อย่างราบรื่นนั้นเป็นสิ่งสำคัญต่อความสำเร็จของธุรกิจของคุณ และเราพร้อมให้ความช่วยเหลือ ทีมผู้เชี่ยวชาญของเราพร้อมเสมอที่จะตอบคำถามของคุณและให้การสนับสนุนที่คุณต้องการ 
                </p>
            </div>
            <div class="border border-gray-400 rounded w-100 mx-auto hidden lg:flex ">
                <img class="hiddenrounded" src="/images/asd.png" alt="Sample /graph me">
            </div>
        </div>
        </div>
</section>